<div class="video-container" *ngIf="!error">
    <video [class.show]="!isCaptured" [class.hide]="isCaptured" #video id="video" [width]="WIDTH" [height]="HEIGHT"
        autoplay></video>
    <canvas [class.show]="isCaptured" [class.hide]="!isCaptured" #canvas id="canvas" [width]="WIDTH"
        [height]="HEIGHT"></canvas>
</div>

<!-- <div class="snap-container">
    <button class="btn btn-primary" (click)="capture()">How are you?</button>

    <div *ngIf="error" class="text-danger mt-4">
        {{ error }}. Please click refresh on stackblitz
        <div class="mt-5">
            <img src="https://trungk18.com/7e0976255739e721501803ee074f1f94/camera.gif" />
        </div>
    </div>
</div> -->