.map-container {
    position: absolute;
    background-color: black;
    top: 20px;
    left: 220px;
    right: 0;
    bottom: 0;
    z-index: 1;
    margin: 30px;
  }
  
  .map-frame {
    background-color: black;
    height: 100%;
    width: 100%;
  }
  
  #map {
    height: 100%;
    background-color: black;
  }  

  .leaflet-container {
    background: #ddd;
    outline: 0;
}