.map-container {
  position: absolute;
  top: 100px;
  left: 250px;
  right: 0;
  bottom: 0;
  z-index: 1;
  margin: 30px;
}

.map-frame {
  border: 2px solid black;
  height: 100%;
  width: 82%;
}

#map {
  height: 100%;
}

mat-progress-bar {
  display: block;
  position: relative;
  width: 82%;
  height: 10px;
  margin: 20px 0px 10px 0px;
}

.resetButton{
  display: flex;
  justify-content: end;
  margin: 20px 0px 10px 0px;
  width: 82%;
}

h3{
  color: white;
}
