<div class="avatar-form">
  <button mat-button class="avatar-choice">
    <mat-icon class="avatar-ico">person</mat-icon>
  </button>
  <mat-form-field appearance="fill">
    <mat-label>Fill form field</mat-label>
    <input matInput placeholder="Name your Astroman">
    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
    <mat-hint>Hint</mat-hint>
  </mat-form-field>
  <button mat-button class="have-a-team">
    <mat-icon class="team-ico">group</mat-icon>
    <span>Already in a team? Join your team</span>
  </button>
  <button mat-button class="not-in-a-team">
    <mat-icon class="add-team-ico">group_add</mat-icon>
    <span>Create your team!</span>
  </button>
</div>
<div class="points-container">
  <span class="label-points"><h2>Points:</h2></span>
  <div class="points">
    <h4>250</h4>
  </div>
</div>
