<mat-sidenav-container>
  <mat-sidenav opened [disableClose] = "true">
    <button mat-button class="home-button">
      <mat-icon>home</mat-icon>
      <span>Home</span>
    </button>
    <button mat-button class="avatar-button">
      <mat-icon>person</mat-icon>
      <span>Avatar</span>
    </button>
    <button mat-button class="rank-button">
      <mat-icon>poll</mat-icon>
      <span>Global rank</span>
    </button>
    <button mat-button class="prize-button">
      <mat-icon>card_giftcard</mat-icon>
      <span>Prize list</span>
    </button>
    <button mat-button class="invite-button">
      <mat-icon>share</mat-icon>
      <span>Invite a friend</span>
    </button>
  </mat-sidenav>
</mat-sidenav-container>
