.container {
  position:inherit;
  background-color: black;
  top: 20px;
  left: 220px;
  right: 0;
  bottom: 0;
  z-index: 1;
  margin: 10px 100px 0px 100px;
}

h1{
  color: white;
}

.mb-3{
  color: white;
}

#label-mail{
  text-align:left;
}

.share-a-friend{
  margin-left:20px;
  background-color: white;
}

.mat-icon{
  color: black;
  margin-right:5px;
}

.shareLabel{
  color:black;
}
