<body>
  <div class="text-center py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="mb-3">We <img class="img-fluid" src="../../assets/social/icons/icons8-heart-48.png"> new friends</h1>
        </div>
        <div class="col-md-12">
          <label class="font-weight-bold" id="label-mail">e-mail</label>
          &nbsp;&nbsp;&nbsp;
          <input type="text" placeholder="Inserisci la mail">
          <button mat-button class="share-a-friend">
            <mat-icon>group_add</mat-icon>
            <span class="shareLabel">Invia il link</span>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="py-5 text-center">
    <div class="container">
      <div class="row">
        <div class="mx-auto col-md-4">
          <p class="mb-3 lead">Share your score</p>
          <div class="row">
            <div class="col-md-12 d-flex align-items-center justify-content-between">
              <button mat-button class="fb-social"> <img class="img-fluid" src="../../assets/social/icons/icons8-facebook-48.png"></button>
              <button mat-button class="fb-social"> <img class="img-fluid" src="../../assets/social/icons/icons8-instagram-48.png"></button>
              <button mat-button class="fb-social"> <img class="img-fluid" src="../../assets/social/icons/icons8-twitter-48.png"></button>
              <button mat-button class="fb-social"> <img class="img-fluid" src="../../assets/social/icons/icons8-reddit-48.png"></button>
              <button mat-button class="fb-social"> <img class="img-fluid" src="../../assets/social/icons/icons8-github-48.png"></button>
              <button mat-button class="fb-social"> <img class="img-fluid" src="../../assets/social/icons/icons8-linkedin-48.png"></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
